body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h2 {
    color: #333;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


nav {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px auto;
    padding: 10px;
    width: max-content;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    color: #0056b3;
}

h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

.content-wrap {
    min-height: 100%;
    margin-bottom: -50px; 
}

.content-wrap:after {
    content: "";
    display: block;
    height: 50px;
}

.footer, .content-wrap:after {
    height: 50px;
}

body {
    min-height: 100vh;
}

.greeting {
    color: #2a2a2a;
    font-size: 1.2em;
    margin: 10px 0; 
    display: inline-block; /* Ou 'block' si vous voulez que le span prenne toute la largeur */
}

#id_content {
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

h3 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

span, p {
    display: block;
    text-align: center;
    margin: 10px auto;
}

.table-centered {
    margin-left: auto;
    margin-right: auto;
}

a.action-link {
    text-decoration: none !important;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: auto;
}
.form-control {
    margin-bottom: 10px;
}
.btn-block {
    margin-top: 20px;
}

#logoutButton {
    margin: auto;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}