.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Piscine-Django.iml
Django_0_starting/.idea/Django_0_starting.iml
Django_0_starting/.idea/misc.xml
Django_0_starting/.idea/modules.xml
Django_0_starting/.idea/vcs.xml
Django_0_starting/.idea/inspectionProfiles/profiles_settings.xml
Django_0_OOB/ex00/__pycache__/render_integration_test.cpython-310.pyc
Django_0_OOB/ex00/__pycache__/render_unittest.cpython-310.pyc
Django_0_OOB/ex00/__pycache__/render.cpython-310.pyc
Django_0_OOB/ex03/__pycache__/beverages.cpython-310.pyc
Django_0_OOB/ex04/__pycache__/elem.cpython-310.pyc
