.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Piscine-Django.iml
Django_0_starting/.idea/Django_0_starting.iml
Django_0_starting/.idea/misc.xml
Django_0_starting/.idea/modules.xml
Django_0_starting/.idea/vcs.xml
Django_0_starting/.idea/inspectionProfiles/profiles_settings.xml
