{% extends 'ex01/base.html' %}

{% block title %}
Ex01 : Django, framework web
{% endblock %}

{% block content %}
<p>
    Django est un framework web open-source écrit en Python, qui suit le modèle de conception Modèle-Vue-Contrôleur (MVC). Il est conçu pour faciliter le développement rapide d'applications web sécurisées et maintienables. Django se concentre sur la réutilisation et la "pluggabilité" des composants, le faible couplage, le développement rapide et le principe "Don't Repeat Yourself" (DRY).
</p>
<p>
    Django a été créé à l'origine en 2003 par Adrian Holovaty et Simon Willison, deux développeurs web au journal Lawrence Journal-World de Lawrence, Kansas. Ils avaient besoin d'un moyen de gérer les délais serrés de l'industrie du journalisme et ont donc créé un framework qui permettait de développer rapidement des applications web.
</p>    
    En 2005, Django a été publié sous une licence open-source, permettant à d'autres développeurs de contribuer au projet. Depuis lors, il a gagné en popularité et est maintenant utilisé par de nombreuses organisations de premier plan, y compris Instagram, Pinterest, Mozilla, The Washington Post, et la NASA.
<p>    
    Django est maintenu par la Django Software Foundation (DSF), une organisation à but non lucratif qui promeut, soutient et protège le framework Django. La DSF organise également des conférences et des ateliers pour la communauté Django. 
</p>
{% endblock %}