{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <h2>Articles</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Synopsis</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td>{{ articles.title }}</td>
            <td>{{ articles.author }}</td>
            <td>{{ articles.created }}</td>
            <td>{{ articles.synopsis }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}