<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{name}'s CV</title>

</head>

<body>
    <header>
        <h1>Curriculum of {name} {surname}</h1>
    </header>
    <main>
        <section>
            <h2>Personal Information</h2>
            <p>Name : {name}</p>
            <p>First Name : {surname}</p>
            <p>Age: {age}</p>
            <p>Profession : {profession}</p>

        </section>
        <section>
            <h2>Skills</h2>
            <ul>
                {skills}
            </ul>
        </section>
    </main>
</body>
</html>