<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>50 Shades</title>
    <style>
        .cell {
            height: 40px;
            width: 80px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            {% for color in colors %}
                <th>{{ color }}</th>
            {% endfor %}
        </tr>
        {% for shade in shades %}
            <tr>
                {% for color in shade %}
                    <td class="cell" style="background-color: {{ color }};"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>