{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <h2>Articles</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Synopsis</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.created }}</td>
            <td>{{ article.synopsis }}</td>
            {% if user.is_authenticated %}
                <td><a href="{% url 'article_detail' article.id %}">Show details</a></td>
            {% endif %}    
        </tr>
        {% endfor %}
    </table>
{% endblock %}