<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Articles{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to my articles website</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <span>Logged as:  {{ user.username }}<br><br></span>

                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'last_articles' %}">Last Articles</a></li>
                    <li><a href="{% url 'publish_article' %}">Publication</a></li>
                    <li><a href="{% url 'favourites' %}">Favourites</a></li> 
                    <li>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:none;">
                            {% csrf_token %}
                        </form>
                        <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                    </li>
                {% else %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'articles' %}">Articles</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="Username" required>
                            <input type="password" name="password" placeholder="Password" required>
                            <button type="submit">Login</button>
                        </form>
                    </li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>