<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Articles{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur mon site d'articles</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'last_articles' %}">Last Articles</a></li>
                    <li><a href="{% url 'publish_article' %}">Publish article</a></li>
                    <li><a href="{% url 'favourites' %}">Favourites</a></li> 
                    <li>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:none;">
                            {% csrf_token %}
                        </form>
                        <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                    </li>
                {% else %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'articles' %}">Articles</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- <p>&copy; 2024 Articles</p> -->
    </footer>
</body>
</html>