{% extends 'base.html' %}

{% block title %}Articles Favoris{% endblock %}

{% block content %}
    <h2>Articles Favoris</h2>
    {% if user.is_authenticated %}
        <ul>
            {% for article in favourites %}
                <li><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></li>
            {% empty %}
                <li>Aucun article favori trouvé.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Veuillez vous <a href="{% url 'login' %}">connecter</a> pour accéder à vos articles favoris.</p>
    {% endif %}
{% endblock %}