{% extends 'base.html' %}

{% block content %}
    {% load custom_filters %}

    <h2>Last articles</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Creation date</th>
            <th>Synopsis</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.created }}</td>
            <td>{{ article.synopsis|truncatechars:20 }}</td>
            <td>{{ article.created|time_since_pub }}</td>
            {% if user.is_authenticated %}
                <td><a href="{% url 'article_detail' article.id %}">Show details</a></td>
            {% endif %}    
        </tr>
        {% endfor %}
    </table>
{% endblock %}