<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
<div class="container mt-5" id="content">

    <!-- Login Form -->
    <form id="loginForm" style="display: none;">
        <div class="form-group w-50">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" required>
        </div>
        <div class="form-group w-50">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
        </div>
        <div class="error-message text-danger text-center mx-auto" id="error-message"></div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <!-- Logged in and Logout Button -->
    <p id="userLogin"></p>
    <div class="d-flex justify-content-between">
        <div id="logoutSection" style="display: none;">
            <button id="logoutButton" class="btn btn-primary">Logout</button>
        </div>
        <div id="chatRedirectDiv" style="display: none;">
            <button id="chatRedirectButton" class="btn btn-primary">Go to Chat</button>
        </div>
    </div>
</div>

<!-- Script to manage the login and logout of the user -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const loginForm = document.getElementById('loginForm');
        const logoutButton = document.getElementById('logoutButton');
        const userLogin = document.getElementById('userLogin');
        const logoutDiv = document.getElementById('logoutSection');

        // Check if the user is authenticated
        function showLogin() {
        fetch('check-authentication/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.authenticated) {  // if the user is authenticated:
                loginForm.style.display = 'none';  // Hide the login form
                logoutDiv.style.display = 'block';  // Show the logout button
                chatRedirectDiv.style.display = 'block';  // Show the chat redirect button
                userLogin.innerText = `Logged as ${data.username}`;
            } else {  // if the user is not authenticated:
                loginForm.style.display = 'block';  // Show the login form
                logoutDiv.style.display = 'none';  // Hide the logout button
                chatRedirectDiv.style.display = 'none';  // Hide the chat redirect button
                userLogin.innerHTML = '';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            loginForm.style.display = 'block';
            logoutDiv.style.display = 'none';
            chatRedirectDiv.style.display = 'none';
            userLogin.innerHTML = '';
        });
    }

        loginForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const errorMessageDiv = document.getElementById('error-message');
            errorMessageDiv.textContent = '';
            const csrfToken = "{{ csrf_token }}";

            fetch('login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({username: username, password: password})
            })
            .then(response => response.json().then(data => ({
                status: response.status, // On capture le statut HTTP
                data  // On capture les données JSON
            })))
            .then(({status, data}) => {
                if (status === 200 && data.success) {  // Authentification réussie
                    loginForm.style.display = 'none';
                    logoutDiv.style.display = 'block';
                    userLogin.innerText = `Logged as ${data.username}`;
                    document.getElementById('chatRedirectDiv').style.display = 'block';
                } else {  // En cas d'erreur d'authentification
                    errorMessageDiv.textContent = "Wrong Password or Username!";
                }
            })
            .catch(error => {
                console.error('Error:', error);
                errorMessageDiv.textContent = "An error occurred. Please try again later.";
            });
        });

        document.getElementById('chatRedirectButton').addEventListener('click', function () {
            window.location.href = 'chatrooms/';
        });

        logoutButton.addEventListener('click', function (e) {
            fetch('logout/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        showLogin();
                        document.getElementById('chatRedirectDiv').style.display = 'none';
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {

                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i];
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = cookie.substring(name.length + 1);
                        break;
                    }
                }
            }
            return cookieValue;
        }

        showLogin();
    });
</script>
</body>
</html>