<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
<div class="container mt-5" id="content">

    <!-- Login Form -->
    <form id="loginForm" style="display: none;">
        <div class="form-group w-50">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" required>
        </div>
        <div class="form-group w-50">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <!-- Logout Button -->
    <p id="userLogin"></p>
    <div class="d-flex justify-content-between">
        <div id="logoutSection" style="display: none;">
            <button id="logoutButton" class="btn btn-primary">Logout</button>
        </div>
        <div id="chatRedirectDiv" style="display: none;">
            <button id="chatRedirectButton" class="btn btn-primary">Go to Chat</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const loginForm = document.getElementById('loginForm');
        const logoutButton = document.getElementById('logoutButton');
        const userLogin = document.getElementById('userLogin');
        const logoutDiv = document.getElementById('logoutSection');

        function showLogin() {
            loginForm.style.display = 'block';
            logoutSection.style.display = 'none';
            userLogin.innerHTML = '';
        }

        loginForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const csrfToken = "{{ csrf_token }}";
            fetch('/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({username: username, password: password})
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(data => {
                        throw new Error(data.message || "An error occurred. Please try again later.");
                    });
                }
                console.log(response);
                return response.json();
            })
                .then(data => {
                    if (data.success) {
                        loginForm.style.display = 'none';
                        logoutDiv.style.display = 'block';
                        userLogin.innerText = `Logged as ${data.username}`;
                        document.getElementById('chatRedirectDiv').style.display = 'block';
                    } else {
                        alert("Wrong Password or Username!");
                    }
                })
                .catch(error => alert.error);
        });

        document.getElementById('chatRedirectButton').addEventListener('click', function () {
            window.location.href = '/chatrooms/';
        });

        logoutButton.addEventListener('click', function (e) {
            fetch('/logout/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        showLogin();
                        document.getElementById('chatRedirectDiv').style.display = 'none';
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {

                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i];
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = cookie.substring(name.length + 1);
                        break;
                    }
                }
            }
            return cookieValue;
        }

        showLogin();
    });
</script>
</body>
</html>