{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <p>Logged as {{ username }}</p>
            <div class="form-signin">
                <button id="logoutButton" class="btn btn-primary btn-block" type="button">Logout</button>
            </div>
		</div>
    </div>
	<script src="{% static 'js/getCookie.js' %}"></script>
	<script>
		document.getElementById("logoutButton").addEventListener("click", function() {
			src="{% static 'js/getCookie.js' %}"
	
			const csrftoken = getCookie('csrftoken');
	
			fetch("/account/", {
				method: "POST",
				headers: {
					"Content-Type": "application/x-www-form-urlencoded",
					"X-CSRFToken": csrftoken
				},
				body: new URLSearchParams({
					'logout': 'true'
				})
			})
			.then(response => response.json())
			.then(data => {
				if(data.logged_out) {
					location.reload();
				}
			})
			.catch((error) => {
				console.error('Error:', error);
			});
		});
	</script>
{% endblock %}