{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <form method="post" id="loginForm" class="form-signin">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="id_username">Username</label>
            <input type="text" id="id_username" name="username" class="form-control" required autofocus>
        </div>
        <div class="form-group mb-3">
            <label for="id_password">Password</label>
            <input type="password" id="id_password" name="password" class="form-control" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>

<script src="{% static 'js/getCookie.js' %}"></script>
<script>
    $("#loginForm").submit(function(e) {
        e.preventDefault(); // Prevent the form from submitting
        $.ajax({ // Send the form data to the server
            type: "POST",
            url: "/account/",
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                username: $('#id_username').val(),
                password: $('#id_password').val(),
            },
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            success: function(data) { // Handle the server response
                if(data.logged_in) { // If the login was successful
                    $('.container').html(`
                        <div class="text-center">
                            <p>Logged as ${data.username}</p>
                            <div class="form-signin">
                                <button id="logoutButton" class="btn btn-primary btn-block" type="button">Logout</button>
                            </div>
                        </div>
                    `);
                    addLogoutEvent();
                } else {
                    alert("Login failed: " + JSON.stringify(data.errors));
                }
            }
        });
    });

    function addLogoutEvent() {
        document.getElementById("logoutButton").addEventListener("click", function() {
            const csrftoken = getCookie('csrftoken');
            fetch("/account/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": csrftoken
                },
                body: new URLSearchParams({
                    'logout': 'true'
                })
            })
            .then(response => response.json())
            .then(data => {
                if(data.logged_out) {
                    $('.container').html(`
                        <form method="post" id="loginForm" class="form-signin">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="id_username">Username</label>
                                <input type="text" id="id_username" name="username" class="form-control" required autofocus>
                            </div>
                            <div class="form-group mb-3">
                                <label for="id_password">Password</label>
                                <input type="password" id="id_password" name="password" class="form-control" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                        </form>
                    `);
                    addLoginEvent();
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    }
</script>
{% endblock %}
