{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-3 border p-3">
        <!-- Connected users -->
        <div class="connected-users">
            <h3>Connected Users</h3>
            <ul>
                {% for user in connected_users %}
                <li>{{ user }}</li>
                {% empty %}
                <li>Nobody in here</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row mt-3 border p-3">
        <!-- Chat content -->
        <div class="chat-header">
            <h2>{{room.name}}</h2>
        </div>
        
        <div class="chat-messages">
            {% for message in messages %}
            <div class="message">
                <strong>{{ message.user.username }}:</strong> {{ message.message }}
                <span class="timestamp">{{ message.created_at|date:"H:i" }}</span>
            </div>
            {% empty %}
            <p>No messages yet</p>
            {% endfor %}
        </div>
        <div class="chat-form">
            <form id="messageForm" method="POST" action="{% url 'chat_room' room_id=room.id %}">
                {% csrf_token %}
                <input type="text" name="message" id="messageInput" class="chat-input" placeholder="Type a message...">
                <button type="submit" class="chat-submit">Send</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var chatSocket = new WebSocket('ws://' + window.location.host + '/{{ room.id }}' + '/');

        chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var messageElement = document.createElement('div');
            messageElement.classList.add('message');
            var username = data.username || "BOT";
            var messageContent = data.message || "";

            if (data.type === 'user_joined') {
                messageElement.innerHTML = `<em>${username} has joined the chat.</em>`;
                document.querySelector('.chat-messages').appendChild(messageElement);
            }
            else if (data.type === 'user_left') {
                messageElement.innerHTML = `<em>${username} has left the chat.</em>`;
                document.querySelector('.chat-messages').appendChild(messageElement);
            }
            else if (data.type === 'update_users_list') {
                var userList = document.querySelector('.connected-users ul');
                userList.innerHTML = '';
                data.users.forEach(function(user) {
                    var userElement = document.createElement('li');
                    userElement.textContent = user;
                    userList.appendChild(userElement);
                });
            }
            else if (data.type === 'chat_message') {
                messageElement.innerHTML = `<strong>${username}:</strong> ${messageContent}`;
                document.querySelector('.chat-messages').appendChild(messageElement);
            }

            document.querySelector('.chat-messages').scrollTop = document.querySelector('.chat-messages').scrollHeight;
        };

        document.querySelector('#messageForm').onsubmit = function (e) {
            e.preventDefault();
            var messageInputDom = document.querySelector('#messageInput');
            var message = messageInputDom.value;
            if (message.trim()) {
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'type': 'chat_message'
                }));
                messageInputDom.value = '';
            }
        };
    })
    </script>
    
</div>


{% endblock %}